# Entornos virtuales
venv/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos temporales y logs
*.log
*.sqlite3
*.db
*.bak

# Configuraciones de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Subidas de usuarios (si tienes imágenes que no quieres versionar)
static/uploads/

# Modelos pesados (puedes incluir tu carpeta de YOLO si es muy grande)
trocr_model/
runs/
#yolov3.weights
best.pt

# Archivos de entrenamiento YOLO
dataset/