<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro de Placa</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
</head>

<body class="flex bg-gray-100 min-h-screen">

  {% include "components/loader.html" %}

  <!-- Sidebar -->
  <aside class="w-64 bg-white shadow-md flex flex-col items-center py-6">
    <img src="{{ url_for('static', filename='imagenes/logoudec.png') }}" alt="Logo Universidad" class="w-48">
    <nav class="space-y-4 text-center w-full">
      <a href="{{ url_for('dashboard') }}"
        class="block mb-2 px-6 py-2 bg-white text-teal-500 font-semibold rounded-lg shadow-md hover:bg-gray-200 transition"
        onclick="showLoader()">🏠 Inicio</a>
      <a href="{{ url_for('register_plate') }}"
        class="block px-6 py-2 bg-white text-teal-500 font-semibold rounded-lg shadow-md hover:bg-gray-200 transition"
        onclick="showLoader()">🔄 Actualizar</a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full text-center">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">Ingresa los siguientes datos. 📋</h2>

      <form id="registerForm" class="space-y-4" enctype="multipart/form-data">
        <input type="text" id="ownerName" placeholder="Nombre del Propietario" required
          class="w-full p-3 border border-gray-300 rounded-lg">
        <input type="text" id="plateNumber" placeholder="Número de Placa" required
          class="w-full p-3 border border-gray-300 rounded-lg">
        <input type="text" id="ownerID" placeholder="Cédula" required
          class="w-full p-3 border border-gray-300 rounded-lg">
        <label class="block text-left text-gray-600">Foto del Vehículo:</label>
        <input type="file" id="vehiclePhoto" accept="image/*" required
          class="w-full p-2 border border-gray-300 rounded-lg">
        <input type="text" id="email" placeholder="Correo institucional" required
          class="w-full p-3 border border-gray-300 rounded-lg">
        <button type="submit" data-show-loader
          class="w-full bg-blue-600 text-white p-3 rounded-lg font-bold hover:bg-blue-700">Registrar</button>
      </form>
    </div>
  </main>

  <script>

    document.getElementById("registerForm").addEventListener("submit", function (event) {
      event.preventDefault();

      let formData = new FormData();
      formData.append("nombre", document.getElementById("ownerName").value);
      formData.append("placa", document.getElementById("plateNumber").value);
      formData.append("cedula", document.getElementById("ownerID").value);
      formData.append("foto", document.getElementById("vehiclePhoto").files[0]);
      formData.append("email", document.getElementById("email").value);

      fetch("/register_plate", {
        method: "POST",
        body: formData
      })
        .then(response => response.json())
        .then(data => {

          if (data.success) {
            alert("Placa registrada con éxito");
            window.location.href = "/register_plate";
          } else {
            alert("Error al registrar la placa");
          }
        })
        .catch(error => {

          console.error("Error:", error);
          alert("Hubo un problema con la solicitud");
        });
    });
  </script>

</body>

</html>